<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <title>{% block title %}{% endblock %}有日辞典</title>
	</head>
	<body>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0r
        T7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <div class="container">

            <nav class="navbar navbar-expand-lg navbar-dark mb-2" style="background-color: #9b0000">
                <div class="container-fluid">
                    <div class="navbar-nav">
                        <a class="navbar-brand" href="/dic">有日辞典</a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                {% if not session.logged_in %}
                                <li class="navbar-item">
                                    <a class="nav-link active" aria-current="page" href="{{ url_for('login.login_form')}}">管理者ログイン</a>
                                </li>
                                {% else %}
                                <li class="navbar-item">
                                    <a class="nav-link active" href="{{ url_for('dic.new_dic')}}">辞書を作成</a>
                                </li>
                                <li class="navbar-item">
                                    <a class="nav-link active" href="{{ url_for('login.logout') }}">ログアウト</a>
                                </li>
                                {% endif %}
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </nav>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>