{% extends "base.html" %}

{% block title %}{% endblock %}

{% block head %}{% endblock %}

{% block navbar %}
                    <ul class="navbar-nav ml-auto">
                        {% if not session.get("logged_in") %}
                            <li class="navbar-text">
                                <span class="text-light">ログインしていません。</span>
                            </li>
                        {% else %}
                            <li class="navbar-text mr-3">
                                <span class="text-light">{{session["screenname"]}}</span>
                            </li>
                        {% endif %}
                        {% if dictionary is defined %}
                            <li class="navbar-item">
                                <form class="form-inline" action="{{ url_for('dic.show_word', dic_id=dictionary.dic_id) }}" name=simpleSearchForm method="GET">
                                    <input type="text" id="SimpleKeyword" name=keyword placeholder="単語を検索する">
                                    <input type="submit" class="btn btn-secondary" value="検索">
                                    {% if session.get("logged_in", default=False)  %}
                                    {% if session.get("logged_in", default=0) == dictionary.owner %}
                                    <input type="submit" class="btn btn-primary" value="登録" formaction="{{url_for('dic.new_word', dic_id=dictionary.dic_id)}}" formmethod="GET">
                                    {% else %}
                                    <input type="submit" class="btn btn-primary" value="提案" formaction="{{url_for('dic.suggest_word', dic_id=dictionary.dic_id)}}" formmethod="GET">
                                    {% endif %}
                                    {% endif %}
                                </form>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" 
                                    id="dicDropdown" data-toggle="dropdown" aria-haspopup="true" 
                                    aria-expanded="false">辞書を開く</button>
                                    <div class="dropdown-menu" aria-labelledby="dicDropdown">
                                    {% for d in dictionaries %}
                                        <a class="dropdown-item" href="{{ url_for('dic.show_dic', dic_id=d.dic_id) }}">{{d.dicname[:10]}}</a>
                                    {% endfor %}
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
{% endblock %}

{% block body %}{% endblock %}
