{% extends "dic_base.html" %}

{% block title %}{{dictionary.dicname}} - {% endblock %}

{% block head %}
<script type="text/javascript">
    var max_conditions = 10;
    var num_conditions = 1;
    var target_vals = ["wordtrans", "word", "trans", "ex", "rhyme"];
    var target_inners = ["見+訳", "見出し語", "訳語", "用例", "韻律"];
    var option_vals = ["is", "starts", "includes", "ends", "regex"];
    var option_inners = ["に一致する", "で始まる", "を含む", "で終わる", "の正規表現にハマる"];

    function _addCondition(){
        var search = document.getElementById("searchForm");
        var div = document.createElement("div");
        div.setAttribute("class", "px-2 py-2")
        console.log(num_conditions);
        var target_select = document.createElement("select");
        target_select.name = "target_" + num_conditions;
        for (var i = 0; i < target_vals.length; i++) {
            var option = document.createElement("option");
            option.value = target_vals[i];
            option.innerHTML = target_inners[i];
            target_select.appendChild(option);
        }
        div.appendChild(target_select);
        div.innerHTML += "が";

        var keyword_text = document.createElement("input");
        keyword_text.type = "text";
        keyword_text.name = "keyword_" + num_conditions;
        keyword_text.value = "";
        div.appendChild(keyword_text);

        var option_select = document.createElement("select")
        option_select.name = "option_" + num_conditions;
        for (var i = 0; i < option_vals.length; i++) {
            var option = document.createElement("option");
            option.value = option_vals[i]
            option.innerHTML = option_inners[i]
            option_select.appendChild(option);
        }
        div.appendChild(option_select);

        search.appendChild(div);
        num_conditions++;

    }
    function addCondition(){
        if (num_conditions < max_conditions) {
            _addCondition();
        }
    }
</script>
{% endblock %}

{% block body %}
<br><h3 class="text-center"><a href="{{url_for('dic.show_dic', dic_id=dictionary.dic_id)}}">{{dictionary.dicname | safe}}</a></h3><br>
<div class="alert alert-info text-center">
    作成者: {{dictionary.owner.screenname}}<br>
    収録語数: {{dictionary.words.all().__len__()}}<br>
    作成日時: {{dictionary.created_at | timedelta}}前<br>
    最終更新: {{dictionary.updated_at | timedelta}}前
</div>
<p>{{dictionary.description}}</p><br>
<div class="bg-light rounded text-center">
    <form id="searchForm" action="{{url_for('dic.search', dic_id=dictionary.dic_id)}}" method="GET">
        <button type="button" id="add" class="btn btn-secondary mx-2 my-2" onclick="addCondition();">条件を追加</button>
        <input type="submit" class="btn btn-primary" value="検索"><br>
        <div class="px-2 py-2">
            <select name="target_0">
                <option value="wordtrans" selected>見+訳</option>
                <option value="word">見出し語</option>
                <option value="trans">訳語</option>
                <option value="ex">用例</option>
                <option value="rhyme">韻律</option>
            </select>が
            <input type="text" name="keyword_0" value="">
            <select name="option_0">
                <option value="is">に一致する</option>
                <option value="starts">で始まる</option>
                <option value="includes" selected>を含む</option>
                <option value="ends">で終わる</option>
                <option value="regex">の正規表現にハマる</option>
            </select>
        </div>
    </form>
</div>
<form action="{{url_for('dic.edit_dic', dic_id=dictionary.dic_id)}}">
    <div class="dropdown">
        {% if session["current_user"] == dictionary.owner.user_id %}
        <input type="submit" class="btn btn-secondary btn-sm" value="編集">
        {% endif %}
        <button type="button" class="btn btn-success btn-sm dropdown-toggle" id="exportDropdown" data-toggle="dropdown" aria-expanded="false">
            エクスポート
        </button>
        <ul class="dropdown-menu" aria-labelledby="exportDropdown">
            <li><a class="dropdown-item" href="{{url_for('dic.export_dic', dic_id=dictionary.dic_id, filetype='xml')}}">XML</a></li>
            <li><a class="dropdown-item" href="{{url_for('dic.export_dic', dic_id=dictionary.dic_id, filetype='csv')}}">CSV</a></li>
        </ul>
    </div>
</form>
<br><br><h3>造語依頼の一覧</h4>
{% for s in dictionary.suggestions.all() %}
<div class="alert alert-secondary">
<h5>{{s.title}}<br>
<small class="text-muted">{{s.client.screenname}}による依頼</small></h5>
<p>{{s.description}}<br>
<small>
日時: {{s.created_at | timedelta}}前
</small></p>
</div>
{% else %}
造語依頼はありません。
{% endfor %}
{% if not session.get("logged_in") %}
<a href="{{url_for('login.login_form')}}">ログイン</a>して造語依頼できます
{% else%}
<a href="{{url_for('dic.suggest_word', dic_id=dictionary.dic_id)}}"><button class="btn btn-info btn-sm">造語依頼</button></a>

{% endif %}

{% endblock %}
