{% extends "dic_base.html" %}

{% block title %}{{dictionary.dicname}} - {% endblock %}

{% block body %}
<br><h3 class="text-center"><a href="{{url_for('dic.show_dic', dic_id=dictionary.dic_id)}}">{{dictionary.dicname | safe}}</a></h3><br>
{% if words.__len__() > 0 %}
<div class="alert alert-primary">{{words.__len__()}}件見つかりました。</div>
{% endif %}
{% for word in words %}
<div class="border rounded">
<h5 class="ml-2 my-2">{{word.word}}</h5>
<a href="{{url_for('dic.edit_word', dic_id=dictionary.dic_id, word_id=word.word_id)}}" class="ml-1"><button class="btn btn-secondary btn-sm">編集</button></a>
<div class="container-fluid">
<p class="my-2">{{word.trans}}</p>
<p>{{word.ex}}</p>
</div>
</div><br>
{% else %}
該当する単語はありません。
{% endfor %}
{% endblock %}