{% extends "dic_base.html" %}

{% block title %}造語依頼 - {% endblock %}

{% block body %}
<br><h3>造語を提案する</h3><br>
<div class="container-fluid mb-3">
	<form action="{{ url_for('dic.sugest_word') }}" method="POST" name="suggestform">
		<label>訳語・単語:</label>
		<input type="text" id="Translation" name=keyword placeholder="造語するべき単語を入力" class="form-control" value="{{keyword}}">
		{% if title_msg == "" %}
		{% else %}<div class="alert alert-warning">{{ title_msg }}</div>{% endif %}
		<br>
		<label>説明</label>
		<textarea placeholder="提案の詳細を入力" name=description></textarea>
		<input type="submit" id="Submit" name=submitbutton class="btn btn-primary" value="提案">
	</form>

</div>

{% endblock %}